:root {
    --bg-color: #f8f9fa;
}

html {
    width: 100%;
    background-color: var(--bg-color);
}

main {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

button {
    padding: .25rem 2rem;

    background-color: rgb(150, 150, 150);
    border: none;
    box-shadow: 0rem .2rem rgb(127, 127, 127);
    transition: .15s;

    color: white;
    text-shadow: 1px 1px black;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0px 0px;
}

input {
    border: 1px solid black;
}

.size-adjusters {
    /* centers input boxes and labels */
    text-align: center;
}

#table-adjust {
    margin-left: 3rem;
}

.size-inputs {
    display: inline;
}

@media (max-width: 400px) {
    .size-inputs {
        display: block;
    }

    #table-adjust {
        margin-left: 0rem;
        margin-top: .5rem;
    }
}