.container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    width: 100%;
    height: 70vh;
    overflow: scroll;

    margin-top: 1rem;
}

.seat-grid {
    background-color: white;

    /* center the grid */
    table-layout: fixed;
    width: 90%;
    height: 70vh;
    margin: auto;


    border-collapse: separate;
    border-spacing: 15px 15px;
}

.row {
    height: 5rem;
}

.cell {
    border: 1px solid black;

    width: 5rem;

    text-align: center;

    transition: 1.05ms;

    opacity: .5;
}

.cell:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.cell:hover {
    border: 2px solid orange;
}

.first-col {
    width: 2rem;
}

.seat-grid {
    zoom: 1;
}

.first-row, .first-col {
    background-color: lightgrey;
    opacity: 1;
}

.first-row:hover, .first-col:hover {
    cursor: default;
    transform: none;

    /* To override the hover state of cell class : */
    border: 1px solid black;
}

.first-row {
    height: 1rem;
}


.taken {
    background-color: lightcoral;
    opacity: 1;
}
